section.content {
    margin: 100px 15px 0 315px !important;
}

.pdfpage {
    background: #FFFFFF;
    
    svg {
        background: #FFFFFF;
        fill: white;
    }
}

.asr-container {
    .block-header {
        height: 30px;

        h2 {
            display: inline-block;
            float: left;
        }

        .btn {
            display: inline-block;
            float: right;
        }
    }
}

@media print {
    .sidebar {
        display: none !important;
    }

    section.content {
        margin: 100px 15px 0 0px !important;
    }
}


.theme-black .sidebar .menu .list li.active {
    background-color: rgba(237, 237, 237, 0.6588235294117647) !important;
    border-top: 1px solid rgba(161, 158, 158, 0.0784313725490196);
    border-bottom: 1px solid rgba(161, 158, 158, 0.0784313725490196);
}